:root {
  --width: clamp(100px, min(90vw, 90vh), 700px);
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: var(--width);
  display: inline-grid;
  grid-template-columns: 1fr 1fr 0.25fr 1fr 1fr 0.25fr 1fr 1fr;
  grid-template-areas:
    '.        cell-17  .  .         cell-10 .  .       cell-3'
    '.        cell-16  .  cell-13   cell-9  .  cell-6  cell-2'
    'cell-19  cell-15  .  cell-12   cell-8  .  cell-5  cell-1'
    'cell-18  cell-14  .  cell-11   cell-7  .  cell-4  cell-0';
  gap: 3px;
  border: 1px solid black;
  padding: 4px;
}

.container > div {
  width: 100%;
  aspect-ratio: 1 /1;
  border: 1px black solid;
}

.colored {
  background-color: black;
}
